---
version: 2
interactions:
    - id: 0
      request:
        host: home.andylibby.org
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer 10644d067a80b7ad97b151d6e9fb954ab4b264ebd0860a8912596ce907aa97d4a13221125b634dfbdc7401e1d31f1a13b7aef2e415f0c61b9377190dd87d813e
        url: https://home.andylibby.org/api/v1/agents/tucKuJPTYhTSEbEYi2uCk5iT/domains.json
        method: GET
      response:
            - chunked
        body: '{"data":[{"domain_id":34027,"hostname":"morekidsonbikespa.org","port":"443"},{"domain_id":36200,"hostname":"no-common-name.badssl.com","port":"443"},{"domain_id":49608,"hostname":"monitor-us-west.statusgator.com","port":"443"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"b6be30b3c0113a19889c533a0daea431"
        status: 200 OK
        code: 200
        duration: 353.978188ms
